{% extends 'catalog/base.html' %}

{% block content %}
<div class="col">
            <div class="card">
              <div class="row g-0">

                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Удаление статьи</h5>
<!--                    <p class="card-text">Это более широкая карточка со вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>-->
                      <form method="post">
                          {% csrf_token %}
                          <p>Хотите удалить статью "{{ object.title }}"?</p>
                          <button type="submit" class="btn btn-danger">Подтвердить</button>
                          <a href="{% url 'blogs:list' %}" class="btn btn-warning">Отмена</a>
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

{% endblock %}